<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
            suscipit beatae recusandae! Error perspiciatis eum nostrum velit
            quasi itaque esse quaerat exercitationem commodi adipisci
            voluptates, dolorem obcaecati quae ducimus explicabo.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
            architecto soluta eligendi asperiores laboriosam voluptatem!
            Blanditiis explicabo, accusamus, iure nobis deleniti nostrum
            tenetur, dolor a illum maxime earum itaque neque.
        </p>
    </body>
</html>
