<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>PublicHome</title>
</head>
<body>
    <nav>
        <!-- <div style="text-align: left;">
            <a href="/cuslogin">CustomerLogin</a>
            <a href="/cusregister">CustomerRegister</a>
            <a href="/agentlogin">BookingAgentLogin</a>
            <a href="/agentregister">BookingAgentRegister</a>
            <a href="/stafflogin">AirlineStaffLogin</a>
            <a href="/staffregister">AirlineStaffRegister</a>
        </div> -->

        <div style="text-align: right;">
            <a href="/cuslogin">LOGIN</a>
            |
            <a href="/cusregister">REGISTER</a>
        </div>
    </nav>
    <hr>

    <h1 style="text-align: center;">Welcome to the public home of AC Airline!</h1>

    </br>
    <div style="text-align: center;">
        <h2>Search for upcoming flight</h2>
        <form action="/publicSearchFlight" method="POST">
            <label>Departure City:</label>
            <input type="text" name = "departure_city" placeholder="departure_city" required/> </br>
            <label>Departure Airport:</label>
            <input type="text" name = "departure_airport" placeholder="departure_airport" required/></br>
            <label>Departure Date:</label>
            <input type="date" name = "departure_date" placeholder="departure_date" onfocus="(this.type='date')"  onblur="(this.type='text')" required/> </br>
            <label>Arrival City:</label>
            <input type="text" name = "arrival_city" placeholder="arrival_city" required/> </br>
            <label>Arrival Airport:</label>
            <input type="text" name = "arrival_airport" placeholder="arrival_airport" required/></br>
            <label>Arrival Date:</label>
            <input type="date" name = "arrival_date" placeholder="arrival_date" onfocus="(this.type='date')"  onblur="(this.type='text')" required/> </br>
            <button type="submit" class="btn btn-primary">Search</button>
            {% if error1 %}
            <p class="text-danger"><strong>No Result:</strong> {{error1}}</p>
            {% endif %}
        </form>

        {% if upcoming_flights %}
        </br>
        <table class="table table-bordered">
            <thead>
                <th>airline_name</th>
                <th>flight_num</th>
                <th>airplane_id</th>
                <th>departure_airport</th>
                <th>departure_time</th>
                <th>arrival_airport</th>
                <th>arrival_time</th>
                <th>price</th>
            </thead>

            <tbody>
            {% for line in upcoming_flights %}
                <tr>
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                    <td>{{line[8]}}</td>
                    <td>{{line[2]}}</td>
                    <td>{{line[3]}}</td>
                    <td>{{line[4]}}</td>
                    <td>{{line[5]}}</td>
                    <td>{{line[6]}}</td>  
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <hr>

    <div style="text-align: center;">
        <h2>Check flight status</h2>
        <form action="/publicSearchStatus" method="POST">
            <label>Flight Number:</label>
            <input type="text" name = "flight_num" placeholder="flight_num" required/> </br>
            <label>Arrival Date:</label>
            <input type="date" name = "arrival_date" placeholder="arrival_date" onfocus="(this.type='date')"  onblur="(this.type='text')" required/> </br>
            <label>Departure Date:</label>
            <input type="date" name = "departure_date" placeholder="departure_date" onfocus="(this.type='date')"  onblur="(this.type='text')" required/> </br>
            <button type="submit" class="btn btn-primary">Search</button>
            {% if error2 %}
            <p class="text-danger"><strong>No Result:</strong> {{error2}}</p>
            {% endif %}
        </form>

        {% if statuses %}
        </br>
        <table class="table table-bordered">
            <thead>
                <th>airline_name</th>
                <th>flight_num</th>
                <th>airplane_id</th>
                <th>departure_airport</th>
                <th>departure_time</th>
                <th>arrival_airport</th>
                <th>arrival_time</th>
                <th>status</th>
            </thead>
            
            <tbody>
            {% for status in statuses %}
                <tr>
                    <td>{{status[0]}}</td>
                    <td>{{status[1]}}</td>
                    <td>{{status[8]}}</td>
                    <td>{{status[2]}}</td>
                    <td>{{status[3]}}</td>
                    <td>{{status[4]}}</td>
                    <td>{{status[5]}}</td>
                    <td>{{status[7]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>


</body>
</html>