<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1>
<a href="/addinfo">Add information</a>
<table>
	<th>airplane_id</th>
	<th>flight_num</th>
	<th>departure_airport</th>
	<th>arrival_airport</th>
	<th>departure_time</th>
	<th>arrival_time</th>
	<th>status</th>
	<!-- <form action="/editstatus" method="POST">
		<input type="submit" value = edit_status />
	</form> -->

{% for line in posts %}
	<tr>
		<td>{{line[0]}}</td>
		<td>{{line[1]}}</td>
		<td>{{line[2]}}</td>
		<td>{{line[3]}}</td>
		<td>{{line[4]}}</td>
		<td>{{line[5]}}</td>
		<td>{{line[6]}}</td>
		<td><input type = "button" id = 'edit_status' value= 'edit_status'> </td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
